
.idea/*
project/project/
project/target/
target/
.DS_Store
target/*
# IntelliJ
*.iml
.idea
.settings
.project
.classpath
src/*.jpg
test/java/*.jpg
.html
output/*.html
/target/
.gradle
.gradle/*
build
build/*
.jar
*.xml
.idea
*.iws
*.iml
*.ipr
.idea/

Excel-Upload/node_modules/